<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/index}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Bank Application</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/index}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home Page</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <span sec:authorize="hasAnyAuthority('USER')">
        <!-- Heading -->
    <div class="sidebar-heading">
        Customer Transactions
    </div>

        <!-- Nav Item - Customers -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/profile}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Transactions</span></a>
    </li>
    </span>




    <span sec:authorize="hasAnyAuthority('ADMIN')">
        <!-- Heading -->
    <div class="sidebar-heading">
        Employee Transactions
    </div>

        <!-- Nav Item - Customers -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/customers}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Customers</span></a>
    </li>



        <!-- Nav Item - Accounts -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/accounts}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Accounts</span></a>
    </li>

        <!-- Nav Item - Employees -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/requestAccountCustomer}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Request Account</span></a>
    </li>

        <!-- Nav Item - Loans -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/credit}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Credits</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/requestCreditCustomer}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Request Credit</span></a>
    </li>
    </span>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->